::-webkit-scrollbar { display: none; }
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat.ttf') format('truetype');
  }
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: all 0.3s;
    user-select: none;
    color: #fff;
    font-family: Montserrat;
    font-weight: 200;
}
body{
    background-color: rgba(0,0,0);
}

.Container {
    z-index: -1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Img-Blur {
    opacity: 0.2;
    width: 500%;
    animation: shake 15s infinite;
    filter: saturate(300%);
    animation: pulse 30s infinite;
}

@keyframes shake {
    0% { transform: translate(5px, 5px) rotate(0deg); }
    10% { transform: translate(-5px, -2px) rotate(-70deg); }
    20% { transform: translate(-3px, 0px) rotate(20deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(5px, -5px) rotate(70deg); }
    50% { transform: translate(-5px, 2px) rotate(-20deg); }
    60% { transform: translate(-3px, 5px) rotate(0deg); }
    70% { transform: translate(3px, 5px) rotate(-20deg); }
    80% { transform: translate(-5px, -5px) rotate(20deg); }
    90% { transform: translate(5px, 2px) rotate(0deg); }
    100% { transform: translate(5px, -2px) rotate(-3000deg); }
  }

  @keyframes pulse {
    0% {
        transform: scale(1.5);
    }

    50% {
        transform: scale(2.5);
    }

    100% {
        transform: scale(1.5);
    }
}

.Background-Blur {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(5px);
    display: grid;
    grid-template-columns: 10vw 1fr 1fr 10vw;
}

.Album {
    grid-column: 2 / 3;
    background-color: rgba(0, 0, 0, 0);
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
}

.Img-Album {
    margin-top: 2vh;
    width: 80%;
    border-radius: 5%;
    box-shadow: rgba(255, 255, 255, 0.01) 0px 0px 25px 25px;
    filter: saturate(150%);
}

h1 {
    margin-top: 2vh;
    font-family: Montserrat;
    font-weight: 200;
    font-size: 3rem;
}

.Music-List {
    grid-column: 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

input {
    margin-top: 2vh;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-family: Montserrat;
    font-weight: 150;
    cursor: pointer;
    font-size: 1.5rem;
}

ol {
    list-style-type: decimal;
    font-size: 1.5rem;
}

li {
    margin: 2vh;
}

li:hover {
    opacity: 0.5;
}

li:active {
    opacity: 0.2;
}

#checkbox,
#btn__Anterior,
#btn__Atrasar,
#btn__PlayPause,
#btn__Adelantar,
#btn__Posterior {
    position: absolute;
    bottom: 0;
    border: none;
    background: rgba(0, 0, 0, 0);
    color: #fff;
    height: 20px;
    width: 20px;
    font-size: 80%;
}

#checkbox::-ms-check {
    background: rgba(55,55,55,0);
    border: 1px solid rgba(255,255,255,0);
}

#btn__Anterior {
    left: calc(20px * 1);
}

#btn__Atrasar {
    left: calc(20px * 2);
}

#btn__PlayPause {
    left: calc(20px * 3);
}

#btn__Adelantar {
    left: calc(20px * 4);
}

#btn__Posterior {
    left: calc(20px * 5);
}

#checkbox:hover,
#btn__Anterior:hover,
#btn__Atrasar:hover,
#btn__PlayPause:hover,
#btn__Adelantar:hover,
#btn__Posterior:hover {
    border: 1px solid rgba(255,255,255,0.5);
}









#Contenedor{
    position: absolute;
    right: 0;
    bottom: 0px;
    width: calc(100% - calc(25px * 6));
    height: 5px;
    overflow: hidden;
    background-color: rgba(255,255,255,0.1);
}

#sliderDeRango:hover ~ contenedor{
    height: 25px;
}
#sliderDeRango {
    position: absolute;
    z-index: 1000;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 80%;
    opacity: 0;
}
#barraPersonalizable{
    position: absolute;
    left: 0;
    bottom: 0px;
    background-color: rgba(255,255,255,0.6);
    height: 80%;
}

@media (max-width: 768px) {
    .Container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .Album {
        width: 80vw;
    }

    .Img-Album {
        width: 90%;
        margin-top: 5vh;
    }

    h1 {
        font-size: 2rem;
        text-align: center;
    }

    .Music-List {
        margin-top: 5vh;
    }

    input {
        font-size: 1rem;
    }

    ol {
        font-size: 1rem;
    }

    li {
        margin: 1vh;
    }

    #checkbox,
    #btn__Anterior,
    #btn__Atrasar,
    #btn__PlayPause,
    #btn__Adelantar,
    #btn__Posterior {
        height: 15px;
        width: 15px;
        font-size: 60%;
    }

    #Contenedor {
        width: calc(100% - calc(15px * 6));
        height: 3px;
    }

    #sliderDeRango:hover ~ contenedor {
        height: 15px;
    }

    #barraPersonalizable {
        height: 60%;
    }
}